<link xmlns:th="http://www.thymeleaf.org" rel="stylesheet"
	data-th-href="@{/css/general.css}">
<link xmlns:th="http://www.thymeleaf.org" rel="stylesheet"
	data-th-href="@{/css/form.css}">
<div data-th-fragment="article-detail(action)"
	data-th-each="enchere : ${encheres}">
	<form xmlns:th="http://www.thymeleaf.org" data-th-action="@{${action}}"
		id="afficherArticle" method="get">
		<img id="article" data-th-title="Image"
			data-th-src="@{/images/encheres.png}">
		<div>
			<div class="line">
				<div id="inputNomProduit" data-th-text="${enchere.nomArticle}"></div>
			</div>
			<div class="line">
				<span class="detailArticle"
					data-th-text="#{price.label} + ${enchere.miseAPrix} + ' points' "></span>
			</div>
			<div class="line">
				<span class="detailArticle"
					data-th-text="#{endOfBid.label} +  ${enchere.dateFinEncheres}"></span>
			</div>
			<div class="line">
				<span class="detailArticle"
					data-th-text="#{seller.label}"></span>
				<a data-th-href="@{'/users/detail?id=' + ${enchere.vendeur.noUtilisateur}}" data-th-text="${enchere.vendeur.prenom} + ' ' + ${enchere.vendeur.nom}"></a>
			</div>
			<input type="hidden" name="id" data-th-value="${enchere.noArticle}">
			<button  type="submit">Detail Vente</button>
		</div>
	</form>
</div>