<form xmlns:th="http://www.thymeleaf.org"
	  th:fragment="ajouter-acteur(titleForm, action)"
	  th:action="@{${action}}"
	  th:object="${participant}"
	  method="post">
	  
	<h1 class="h1Title" th:text="#{ajouter-acteur.h1}"></h1>
	<th:block th:if="${!#strings.isEmpty(action)}">
		<div th:replace="~{fragments/errors/layout-errors :: errors}"></div>
	</th:block>
	<ul class="flex-outer">
		<li>
			<div class="alignement-label">
				<label for="inputPrenom" th:text="#{ajouter-acteur.prenom}"></label>
			</div> <input type="text" name="prenom" id="inputPrenom"
			th:disabled="${#strings.isEmpty(action)}"
			th:field="*{prenom}" required />
			<th:block th:if="${!#strings.isEmpty(action)}">
				<div th:replace="~{fragments/errors/layout-error :: error('prenom')}"></div>
			</th:block>
		</li>
		<li>
			<div class="alignement-label">
				<label for="inputNom" th:text="#{ajouter-acteur.nom}"></label>
			</div> <input type="text" name="nom" id="inputNom"
			th:disabled="${#strings.isEmpty(action)}"
			th:field="*{nom}" required />
			<th:block th:if="${!#strings.isEmpty(action)}">
				<div th:replace="~{fragments/errors/layout-error :: error('nom')}"></div>
			</th:block>
		</li>
		<li th:if="${!#strings.isEmpty(action)}">
			<button id="boutonAjouter" type="submit" th:text="#{ajouter-acteur.valider}"></button>
		</li>
	</ul>
</form>