<link rel="stylesheet" data-th-href="@{/css/general.css}">
<form xmlns:th="http://www.thymeleaf.org"
	  th:fragment="article-detail(titleForm, action)"
	  th:action="@{${action}}" data-th-object="${ArticleVendu}" style="display: flex;">
	  <img id="logoEncheres" th:src="@{/images/encheres.png}">
		<div class="informations" style="margin: 0.5rem;">
			<div class="top">
				<div class="line" style="margin: 0.5rem;">
					Nom du produit : 
				</div>
				<div class="line" style="margin: 0.5rem;">
					Prix : <span></span>
				</div>
				<div class="line" style="margin: 0.5rem;">
					Fin de l'enchère : 
				</div>
				<div class="line" style="margin: 0.5rem;">
					Vendeur : <span></span>
				</div>
			</div>
		</div>
</form>