<form xmlns:th="http://www.thymeleaf.org"
	th:fragment="enchere-detail(action)"
	th:action="@{${action}}" method="get">
	<br>
	<h1 style="text-align: center;" th:text="#{listeEncheres.h1}"></h1>
	<br> <br> <label id="filtres" th:text="#{filter.label}"></label><input
		type="text" placeholder="Rechercher" name="nomArticle"></input> <label
		class="labelFiltresEncheres" for="dropbox" th:text="#{category.label}"></label><select
		id="dropbox" name="dropbox" >
	<option th:value="'0'">Sélectionnez une catégorie</option>
		<option th:each="item : ${CategorieSession}"
			th:value="${item.noCategorie}" th:text="${item.libelle}"></option>
	</select>
	<button id="searchButton" type="submit" th:text="#{searchButton.label}"></button>
	<br>
	<br>
	<div class="radioAndCheckbox"
		th:if="${#authorization.expression('isAuthenticated()')}">
		<div>
			<input type="radio" id="radioButton" name="radioButton" value="1" />
			<label class="labelFiltresEncheres" for="radioButton">Achats</label><br>
			<span class="filtresEncheres"><input type="checkbox"
				id="encheresOuvertes" name="encheresOuvertes"
				value="encheresOuvertes"><label class="labelFiltresEncheres"
				for="encheresOuvertes" th:text="#{openedBids.label}"></label></span><br />
			<span class="filtresEncheres"><input type="checkbox"
				id="mesEncheresEnCours" name="mesEncheresEnCours"
				value="mesEncheresEnCours"><label
				class="labelFiltresEncheres" for="mesEncheresEnCours"
				th:text="#{myOnGoingBids.label}"></label> </span><br />
			<span class="filtresEncheres"><input type="checkbox"
				id="mesEncheresRemportees" name="mesEncheresRemportees"
				value="mesEncheresRemportees"><label
				class="labelFiltresEncheres" for="mesEncheresRemportees" 
				th:text="#{myWonBids.label}"></label> </span><br />
		</div>
		<div class="radioButtonMesVentes">
			<input type="radio" id="radioButton" name="radioButton" value="2" />
			<label class="labelFiltresEncheres" for="radioButton">Mes
				ventes</label> <br> <span class="filtresEncheres"><input
				type="checkbox" id="mesVentesEnCours" name="mesVentesEnCours"
				value="mesVentesEnCours"><label class="labelFiltresEncheres"
				for="mesVentesEnCours">Mes ventes en cours</label> </span> <br />
			<span class="filtresEncheres"><input type="checkbox"
				id="ventesNonCommencees" name="ventesNonCommencees"
				value="ventesNonCommencees"><label
				class="labelFiltresEncheres" for="ventesNonCommencees">Ventes
					non débutées</label> </span><br />
			<span class="filtresEncheres"><input type="checkbox"
				id="ventesTerminees" name="ventesTerminees" value="ventesTerminees"><label
				class="labelFiltresEncheres" for="ventesTerminees">Ventes
					terminées</label> </span><br />
		</div>
	</div>

	<button id="prevBtn" type="submit">Précédent</button>
	<input id="pageNumber" name="pageNumber" type="number" th:value="${pageNumber}">
	<button id="nextBtn" type="submit">Suivant</button>

	<label for="pageSize">Taille de page:</label>
	<select id="pageSize" data-th-value="${pageSize}" name="pageSize">
		<option value="5" th:selected="${pageSize == 5}">5</option>
		<option value="10" th:selected="${pageSize == 10}">10</option>
		<option value="20" th:selected="${pageSize == 20}">20</option>
		<option value="50" th:selected="${pageSize == 50}">50</option>
	</select>
	<br>
	<br>
</form>