<header xmlns:th="http://www.thymeleaf.org"
		xmlns:sec="http://www.thymeleaf.org/extras/spring-security" 
		th:fragment="entete">
	<img th:src="@{/img/encheres.png}" id="logoEncheres">
	<section id="nav-title">
		<h1>
			<a href="/" th:title="#{entete.title}" th:text="#{nom-application}"></a>
			<th:block
				th:if="${#authorization.expression('isAuthenticated()')}">
				<div class="connectedUser">
					<span th:text="'['+ ${membreEnSession.prenom}+']'"></span>
				</div>
			</th:block>
		</h1>
		<div id="flag">
			<a href="/?language=fr"><img alt="Français" th:title="#{img.title.flag.fr}"
				src="/img/French.webp"></a>
				<a href="/?language=en"><img
				alt="English" th:title="#{img.title.flag.en}" src="/img/English.webp"></a>
		</div>
	</section>
	<nav>
		<ul>
			<li>
				<a href="/films"><img id="film" th:title="#{img.title.films}" src="/img/film.png"></a>
			</li>
			<li data-th-if="${#authorization.expression('isAuthenticated()')}" sec:authorize="hasRole('ADMIN')">
				<a href="/films/ajouter"><img id="clap" th:title="#{img.title.clap}" src="/img/clap.png"></a>
			</li>
			<li th:if="${#authorization.expression('isAuthenticated()')}" sec:authorize="hasRole('ADMIN')">
				<a href="/genre"><img id="categorie" th:title="#{img.title.genres}" src="/img/categorie.png"></a>
			</li>
			<li th:if="${#authorization.expression('isAuthenticated()')}" sec:authorize="hasRole('ADMIN')">
				<a href="/acteurs"><img id="acteurs" th:title="#{img.title.acteurs}"  src="/img/acteur.png"></a>
			</li>
			<li th:if="${not #authorization.expression('isAuthenticated()')}">
				<a href="/login"><img id="user" th:title="#{img.title.login}" src="/img/user.png"></a>
			</li>
			<li data-th-if="${#authorization.expression('isAuthenticated()')}">
				<a href="/logout"><img id="logout" th:title="#{img.title.logout}" src="/img/logout.png"></a>
			</li>
		</ul>
	</nav>
</header>
