<!-- Navbar -->
<header xmlns:th="http://www.thymeleaf.org" th:fragment="entete"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
	<div id="userDeconnecte" th:if="${not #authorization.expression('isAuthenticated()')}">
		<a href="/"><img th:title="#{entete.title}"
			th:src="@{/images/encheres.png}" id="logoEncheres" /></a>
	</div>
	<div id="userConnecte" th:if="${#authorization.expression('isAuthenticated()')}">
		<a href="/bid"><img th:title="#{entete.title}"
			th:src="@{/images/encheres.png}" id="logo" /></a>
	</div>

	<nav id="navigation">
		<ul>
			<li><a href="/bid"><img id="bid" src="/images/encheres.png"
					th:title="#{img.title.bid}"></a></li>
			<li th:if="${#authorization.expression('isAuthenticated()')}"><a
				href="/sale/create"><img id="vendre"
					th:title="#{img.title.vendre}" src="/images/vendre.png"></a></li>
			<li th:if="${#authorization.expression('isAuthenticated()')}"><a
				href="/users/detail"><img id="profil"
					th:title="#{img.title.profil}" src="/images/user.png"></a></li>
			<li th:if="${#authorization.expression('isAuthenticated()')}"
				sec:authorize="hasAnyRole('ADMIN','SUPER_ADMIN')"><a href="/category"><img
					id="category" th:title="#{img.title.category}"
					src="/images/categorie.png"></a></li>
			<li th:if="${#authorization.expression('isAuthenticated()')}"
				sec:authorize="hasAnyRole('ADMIN','SUPER_ADMIN')"><a href="/users"><img
					id="userList" th:title="#{img.title.userList}"
					src="/images/userList.png"></a></li>
			<li th:if="${not #authorization.expression('isAuthenticated()')}"><a
				href="/login"><img id="login" src="/images/user.png"
					th:title="#{img.title.bid}"></a></li>
			<li th:if="${#authorization.expression('isAuthenticated()')}"><a
				href="/logout"> <img id="logout" th:title="#{img.title.logout}"
					src="/images/logout.png"></a></li>
		</ul>
	</nav>
</header>