<form xmlns:th="http://www.thymeleaf.org" 
		data-th-fragment="frag-film-form(action, titreForm, titreButton)" 
		data-th-action="@{${action}}"
		data-th-object="${film}" method="post">
		
		<h1 data-th-text="${titreForm}" ></h1>
		<div data-th-replace="~{fragments/fragment-errors :: frag-errors}"></div>
	<input type="hidden"  data-th-value="*{id}"
					data-th-field="*{id}"/>
		<ul class="flex-outer">
		
	<li data-th-if="${not #lists.isEmpty(genreSession)}">
					<label for="inputGenre">Genre : </label> 
					<select data-th-field="*{genre}" id="inputGenre" required data-th-disabled="${isNotModify}" 
					data-th-class="${isNotModify}? 'disabled-input' : ''" data-th-value="*{genre}" >
    				<option data-th-each="genreUnique : ${genreSession}" data-th-value="${genreUnique.id}" data-th-text="${genreUnique.titre}"></option>
					</select>
				</li> 
				
					<li>
					<label for="inputAnnee">Année : 
					</label> 
					<input type="number" data-th-value="*{annee}"
					data-th-field="*{annee}" id="inputAnnee" min="1900"  required data-th-disabled="${isNotModify}"  data-th-class="${isNotModify}? 'disabled-input' : ''"/>
					<div data-th-replace="~{fragments/fragment-error :: frag-error('annee')}"></div>
			
				</li>
				<li>
					<label for="inputTitre">Titre : 
					</label> 
					<input type="text"  data-th-value="*{titre}"
					data-th-field="*{titre}" id="inputTitre" maxlength="250" required data-th-disabled="${isNotModify}" 
					data-th-class="${isNotModify}? 'disabled-input' : ''"/>
					<div data-th-replace="~{fragments/fragment-error :: frag-error('titre')}"></div>
			
				</li>
				<li data-th-if="${not #lists.isEmpty(acteursSession)}">
					<label for="inputRealisateur">Realisateur : 
					</label> 
					<select data-th-field="*{realisateur}" name="IdRealisateur" id="inputRealisateur" required>
    				<option data-th-each="realisateurs : ${acteursSession}" data-th-value="${realisateurs.id}" data-th-text="${realisateurs}" data-th-disabled="${isNotModify}" 
					data-th-class="${isNotModify}? 'disabled-input' : ''" data-th-if="${titreButton == 'Créer'}"></option>
								<option data-th-value="*{realisateur.id}" data-th-text="*{realisateur.prenom} + ' ' +  *{realisateur.nom}"
					data-th-class="${isNotModify}? 'disabled-input' : ''" data-th-if="${titreButton != 'Créer'}" selected></option>
					</select>
				</li>

				<li>
					<label for="inputDuree">Durée : 
					</label>
					 <input type="number" min="1" data-th-value="*{duree}"
					data-th-field="*{duree}" id="inputDuree" data-th-disabled="${isNotModify}" data-th-class="${isNotModify}? 'disabled-input' : ''"/>
					<div data-th-replace="~{fragments/fragment-error :: frag-error('duree')}"></div>
		
				</li>
				<li data-th-if="*{not #lists.isEmpty(acteurs)}">
            		<label for="inputActeurs">Acteur(s) : </label>
    				<select data-th-field="*{acteurs}" multiple id="inputActeurs">
    					<option data-th-each="acteurs : *{acteurs}" data-th-value="${acteurs.getId()}" data-th-text="${acteurs}" data-th-disabled="${isNotModify}" data-th-class="${isNotModify}? 'disabled-input' : ''"></option>
					</select>
        		</li>
				<li data-th-unless="*{not #lists.isEmpty(acteurs)}">
            		<label for="inputActeurs">Acteur(s) : </label>
    				<select data-th-field="*{acteurs}" multiple id="inputActeurs">
    					<option data-th-each="acteurs : ${acteursSession}" data-th-value="${acteurs.getId()}" data-th-text="${acteurs}" data-th-disabled="${isNotModify}" data-th-class="${isNotModify}? 'disabled-input' : ''"></option>
					</select>
        		</li>

				<li>
    				<label for="inputSynopsis">Synopsis : </label>
    				<textarea data-th-field="*{synopsis}" id="inputSynopsis" minlength="20" maxlength="250" data-th-text="*{synopsis}" 
    				data-th-disabled="${isNotModify}" data-th-class="${isNotModify}? 'disabled-input' : ''"></textarea>
				<div data-th-replace="~{fragments/fragment-error :: frag-error('duree')}"></div>
		
				</li>
		</ul>
			<button type="submit" data-th-text="${titreButton}" data-th-if="${#authorization.expression('isAuthenticated()')}" sec:authorize="hasRole('ADMIN')">
			<span></span>
            <span></span>
            <span></span>
            <span></span>
            </button>
            <BR>	
</form>
