@charset "UTF-8";


/* nav ul { */
/*   display: flex; */
/*   justify-content: space-between; */
/* } */
header li {
	list-style: none;
	display: inline-block;
	padding: 0 1.25rem;
}

* {
	margin: 0;
	padding: 0;
	font-family: Arial, Helvetica;
}

/* Header */
header {
	padding: 1.25rem 3.125rem;
	box-shadow: 0 0.063rem 0.5rem #ddd;
	background-color: #777;
}

#nav-title {
	margin-right: auto;
	font-size: 1.1em;
}

header li {
	list-style: none;
	display: inline-block;
	padding: 0 1.25rem;
}

header a {
	text-decoration: none;
	color: white;
	transition: all 0.3s ease 0s;
}

header a:hover {
	color: rgb(0, 128, 192);
}

main {
	margin-top: 0.938rem;
	margin-left: 0.938rem;
}

header h1 {
	margin: 0.625rem;
	color: black;
}
.center-main {
	margin: 2rem 10rem 0 10rem;
	padding: 2rem;
}

@media screen and (max-width: 48rem) {
    .center-main{
        margin: 1rem 5rem 0 5rem;
        padding: 1rem;
    }
}

@media screen and (max-width: 30rem) {
    .center-main{
        margin: 1rem 1rem 0 1rem;
        padding: 0.5rem;
    }
}

.center-section {
	margin: auto;
	text-align: center;
}

input[type=text], input[type=number], input[type=password],input[type=datetime-local], input[type=email] {
    width: 26.438rem;
    padding: 0.75rem 1.25rem;
    margin: 0.5rem 0;
    box-sizing: border-box;
	border: 0.063rem solid black;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
    bottom: 0;
    z-index: 1000;
}
input[type=text]:focus , input[type=number]:focus, input[type=password]:focus,input[type=datetime-local]:focus, input[type=email]:focus {
    border: 0.188rem solid #555;
}

select {
    width: 26.438rem;
    padding: 0.75rem 1.25rem;
    margin: 0.5rem 0;
    box-sizing: border-box;
	border: 0.063rem solid black;
	border-radius: 0.25rem;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
    bottom: 0;
    z-index: 1000;
}
select:focus {
    border: 0.188rem solid #555;
}
textarea {
    width: 26.438rem;
    padding: 0.75rem 1.25rem;
    margin: 0.5rem 0;
    box-sizing: border-box;
	border: 0.313rem solid #ccc;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
    bottom: 0;
    z-index: 1000;
}
textarea:focus {
    border: 0.188rem solid #555;
}
.disabled-input {
    color: #888; 
    background-color: #eee; 
}

body {
    margin: 0;
    padding: 0;
    height: 100vh; /* 100% de la hauteur de la vue */
    display: flex;
    flex-direction: column;
}

.wrapper {
    flex: 1; /* Le contenu de la page prendra tout l'espace disponible en hauteur */
}

footer {
	background-color: #777; /* Couleur de fond du footer */
	color: #fff; /* Couleur du texte du footer */
	padding: 1.25rem; /* Marge intérieure du footer */
	text-align: center; /* Centrage du contenu */
}

#login,
#bid,
#logout,
#category,
#profil,
#userList,
#logoEncheres,
#vendre,
#frFlag,
#enFlag{
	width: 4.063rem;
}

h1{
	text-align: center;
}

#userDeconnecte, #userConnecte{
	float: left;
	margin: auto;
}

.navigation{
	float: right;
	margin-left: auto;
}

#article{
	width: 10%;
	padding: 1rem;
}

#searchButton{
	padding: 1rem;
	border: 0.063rem solid black;
}

.radioAndCheckbox{
	display: flex;
	margin-left: 1rem;
	margin-top: 1rem;
}

#filtres{
	margin: 0.5rem;
}

#afficherArticle{
	display: flex;
}

.line{
	margin: 0.5rem;
}

span.filtresEncheres, #searchButton, .radioButtonMesVentes{
	margin-left: 1rem;
}

.detailArticle{
	margin-left: 0;
}

.labelFiltresEncheres{
	margin-left: 0.1rem;
}

#nextBtn, #prevBtn{
	padding: 0.5rem;
}

#pageSize, #pageNumber{
	width: 10rem;
}

.pagination{
	text-align: center;
}

.flag{
	margin: 0.5rem;
}

#frFlag{
	margin-left: 2rem;
}

#cancelButton, #saveButton{
	padding: 0.5rem;
}

.buttons{
	margin: 0.5rem;
}

.alignement-label{
	margin-top: 1.5rem;
	margin-left: 1rem;
	width: 10rem;
}

.inputText{
	display: flex;
}

#cdPostal,
#rue,
#ville,
#dateFinEncheres,
#dateDebutEncheres,
#miseAPrix,
#description,
#nomArticle,
fieldset{
	border-radius: 0.313rem;
}

input#file-upload-button, #uploadButton{
	padding: 0.5rem;
}

.enteteColonne{
	text-align: center;
}
#createButton, #modifyButton, #deleteUsersButton{
	padding: 0.5rem;
	border: 0.063rem solid black;
}

#checkboxUser{
	display:flex;
}

#userInfos{
	margin-left: 0.5rem;
}

#deleteUsersButton{
	margin-left: 3.5rem;
}

#createCategoryForm{
	background-color: #DDDDDD;
	width: 50%;
	margin: auto;
}