.login-form {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    border-radius: 1rem;
    overflow: hidden;
}

.login-form .flex-outer li {
    width: 50%;
}


.login-form .left{
    width: 100%;
    /* border top bottom left */
    border-left: 0.063rem solid black;
    border-top: 0.063rem solid black;
    border-bottom: 0.063rem solid black;
    border-radius: 1rem 0 0 1rem;
}

.login-form .right{
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

#mdpEtRememberMe{
    display: flex;
}

#rememberMe, #mdp{
    width: 9rem;
}

#rememberMe{
    margin-left: 0.5rem;
}

a{
    text-decoration: none;
    color: black;
}

#createAccount{
    width: 22rem;
}

