.page-user .content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 40px;
}

.page-user .content form {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

.page-user .content .colone input{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}
