<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  data-th-replace="~{fragments/layouts/layout :: layout(
				 	title=~{:: title},
				 	contenuPage=~{:: .center-main},
				 	ressources=~{:: #ressources-css})}">
<head>
	<meta charset="UTF-8">
	<title data-th-text="user"></title>
	<data-th-block id="ressources-css">
		<link rel="stylesheet" data-th-href="@{/css/general.css}">
		<link rel="stylesheet" data-th-href="@{/css/form.css}">
		<link rel="stylesheet" data-th-href="@{/css/user.css}">
	</data-th-block>
	</head>
<body>
<main class="center-main">
	<div class="center-avis">
		<h1> Detail vente </h1>
		<img data-th-if="${Vente.getPhoto() != null}" data-th-src="${Vente.getPhoto()}" alt="Votre Image">
		<div class="informations">
			<div class="top">
				<div class="line">
					<span data-th-text="${Vente.getNomArticle()}"></span>
				</div>
				<div class="line">
					Description : <span data-th-text="${Vente.getDescription()}"></span>
				</div>
				<div class="line">
					Catégorie : <span data-th-text="${Vente.getCategorie().getLibelle()}"></span>
				</div>
				<div class="line">
					Meilleur offre : <span data-th-if="${MOffre != null and MOffreUser != null}" th:text="${MOffre} + ' pts par ' + ${MOffreUser}"></span>
				</div>
				<div class="line">
					Mise à prix : <span data-th-text="${Vente.getMiseAPrix()} + ' points'"></span>
				</div>
				<div class="line">
					Fin de l'enchère : <span data-th-text="${Vente.getDateFinEncheres()}"></span>
				</div>
				<div class="line">
					Retrait : <span data-th-text="${Vente.getRetrait().getRue()} + ' \n' + ${Vente.getRetrait().getCode_postal()}+ ' ' + ${Vente.getRetrait().getVille()}"></span>
				</div>
				<div class="line">
					Vendeur : <span data-th-text="${Vente.getVendeur().getPseudo()}"></span>
				</div>
			</div>
			<form action="/bid/purpose" method="post" data-th-if="${#authorization.expression('isAuthenticated()')}" class="form-genre">
				<ul class="flex-outer">
					<input type="hidden" data-th-value="${Vente.getNoArticle()}" name="id">
					<li>
						<label for="inputTitre1">Ma Proposition :
						</label>
						<input type="number" value="0"
							   name="Proposition" id="inputTitre1"/>
					</li>
				</ul>
				<BR>
				<button type="submit">Enchérir</button>
			</form>
		</div>
	</div>
</main>
</body>
</html>
