<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{fragments/layout::layout(contenuPage=~{:: .center-main}, title=~{:: title},ressources=~{:: link})}">
<title th:text="#{sell.label}"></title>
<link rel="stylesheet" th:href="@{/css/demo-form.css}">
<main class="center-main">
	<div class="center-avis">
		<h1 style="padding: 1rem;" th:text="#{sale.label}"></h1>
		<a th:href="@{/sale/modify(id=12)}"
			th:if="${#authorization.expression('isAuthenticated()')}">test</a>
		<img data-th-if="${ArticleVendu.photo != null}" data-th-src="${ArticleVendu.photo}" alt="Votre Image">
		<!-- Trois boutons -->
		<form data-th-if="${not isCreate}" action="/sale/upload" method="post" enctype="multipart/form-data">
			<input type="hidden" name="idPhoto" data-th-value="${ArticleVendu.noArticle}">
			<label>Photo de l'article</label>
			<input type="file" name="upload">
			<button type="submit">Uploader</button>
		</form>
		<form method="post" data-th-action="${postValue}" data-th-object="${ArticleVendu}" enctype="multipart/form-data">
			<input data-th-if="${isCreate}" type="file" name="upload" >
			<div class="inputText">
				<input type="hidden" id="id" name="id" th:value="*{noArticle}">
				<div class="alignement-label">
					<label for="nomArticle" th:text="#{article.label}"></label>
				</div>
				<input type="text" id="nomArticle" name="nomArticle"
					th:value="*{nomArticle}"> <br>
			</div>
			<div class="inputText">
				<div class="alignement-label">
					<label for="description" th:text="#{description.label}"></label>
				</div>
				<input type="text" id="description" name="description"
					th:value="*{description}"> <br>
			</div>

			<!-- DropBox -->
			<div class="inputText">
				<div class="alignement-label">
					<label for="dropbox" th:text="#{category}"></label>
				</div>
				<select id="dropbox" name="dropbox" th:field="*{categorie}"
					th:value="*{categorie}">
					<option th:each="item : ${CategorieSession}"
						th:value="${item.noCategorie}" th:text="${item.libelle}"></option>
				</select> <br>
			</div>

			<!-- Selecteur de chiffre -->

			<div class="inputText">
				<div class="alignement-label">
					<label for="miseAPrix" th:text="#{startingBids.label}"></label>
				</div>
				<input type="number" id="miseAPrix" name="MiseAPrix" min="0"
					max="10000000" th:value="*{miseAPrix}"> <br>
			</div>

			<!-- Deux DateTimes -->
			<div class="inputText">
				<div class="alignement-label">
					<label for="dateDebutEncheres" th:text="#{startingDate.label}"></label>
				</div>
				<input type="datetime-local" id="dateDebutEncheres"
					name="DateDebutEncheres" th:value="*{dateDebutEncheres}"> <br>
			</div>
			<div class="inputText">
				<div class="alignement-label">
					<label for="dateFinEncheres" th:text="#{endDate.label}"></label>
				</div>
				<input type="datetime-local" id="dateFinEncheres"
					name="DateFinEncheres" th:value="*{dateFinEncheres}"> <br>
			</div>

			<!-- GroupBox -->
			<fieldset th:object="${retrait}" class="withdrawal">
				<legend th:text="#{withdrawal.label}"></legend>
				<div class="inputText">
					<div class="alignement-label">
						<label for="rue" th:text="#{street.label}"></label>
					</div>
					<input type="text" id="rue" name="rue" th:value="*{rue}"> <br>
				</div>
				<div class="inputText">
					<div class="alignement-label">
						<label for="cdPostal" th:text="#{postCode.label}"></label>
					</div>
					<input type="text" id="cdPostal" name="code_postal"
						th:value="*{code_postal}"> <br>
				</div>
				<div class="inputText">
					<div class="alignement-label">
						<label for="ville" th:text="#{city.label}"></label>
					</div>
					<input type="text" id="ville" name="ville" th:value="*{ville}">
					<br>
				</div>
			</fieldset>
			<div class="buttons">
				<button type="submit" id="saveButton" th:text="#{save.label}"></button>
				<button type="reset" id="cancelButton" th:text="#{cancel.label}"></button>
			</div>
		</form>
		<form data-th-if="${not isCreate}" action="/bid/Encherisseurs" method="get" data-th-object="${ArticleVendu}">
			<input type="hidden" name="id" th:value="*{noArticle}">
			<button type="submit">Voir les encherisseurs</button>
		</form>
		<form action="/sale/cancel" method="post" th:object="${ArticleVendu}">
			<input type="hidden" name="idAnnule" th:value="*{noArticle}">
			<button type="submit" th:if="${not isCreate}">Annuler la vente</button>
		</form>
	</div>
</main>
</html>