<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  data-th-replace="~{fragments/layouts/layout :: layout(
				 	title=~{:: title},
				 	contenuPage=~{:: .center-main},
				 	ressources=~{:: #ressources-css})}">
<head>
	<meta charset="UTF-8">
	<title data-th-text="user"></title>
	<data-th-block id="ressources-css">
		<link rel="stylesheet" data-th-href="@{/css/general.css}">
		<link rel="stylesheet" data-th-href="@{/css/form.css}">
		<link rel="stylesheet" data-th-href="@{/css/user.css}">
	</data-th-block>
	</head>
<body>
<main class="center-main">
	<div class="center-avis">
		<h1  th:text="#{Encherir.label}"></h1>
		<img data-th-if="${Vente.getPhoto() != null}" data-th-src="${Vente.getPhoto()}" alt="Votre Image">
		<div class="informations">
			<div class="top">
				<div class="line">
					<span data-th-text="${Vente.getNomArticle()}"></span>
				</div>
				<div class="line">
					<span th:text="#{description.label} + ${Vente.getDescription()}"></span>
				</div>
				<div class="line">
					<span th:text="#{category.label} + ${Vente.getCategorie().getLibelle()}"></span>
				</div>
				<div class="line" data-th-if="${MOffre != null and MOffreUser != null}">
					<span th:text="#{MOffre.label} + ${MOffre} + ' pts par ' + ${MOffreUser}"> </span>
				</div>
				<div class="line">
					<span th:text="#{startingBids.label} + ${Vente.getMiseAPrix()} + ' points'"></span>
				</div>
				<div class="line">
					<span th:text="#{endDate.label} + ${Vente.getDateFinEncheres()}"></span>
				</div>
				<div class="line">
					<span th:text="#{withdrawal.label} + ${Vente.getRetrait().getRue()} + ' \n' + ${Vente.getRetrait().getCode_postal()}+ ' ' + ${Vente.getRetrait().getVille()}"></span>
				</div>
				<div class="line">
					<span th:text="#{seller.label} + ${Vente.getVendeur().getPseudo()}"></span>
				</div>
			</div>
			<form action="/bid/purpose" method="post" data-th-if="${#authorization.expression('isAuthenticated()')}" class="form-genre">
				<ul class="flex-outer">
					<input type="hidden" data-th-value="${Vente.getNoArticle()}" name="id">
					<li>
						<label for="inputTitre1" th:text="#{purpose.label}">
						</label>
						<input type="number" value="0"
							   name="Proposition" id="inputTitre1"/>
					</li>
				</ul>
				<BR>
				<button type="submit" th:text="#{Encherir.label}"></button>
			</form>
		</div>
	</div>
</main>
</body>
</html>
