<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  data-th-replace="~{fragments/layouts/layout :: layout(
				 	title=~{:: title},
				 	contenuPage=~{:: .center-main},
				 	ressources=~{:: #ressources-css})}">
<head>
<meta charset="UTF-8">
<title data-th-text="#{connexion.title}"></title>
<th:block id="ressources-css">
	<link rel="stylesheet" data-th-href="@{/css/general.css}">
	<link rel="stylesheet" data-th-href="@{/css/form.css}">
	<link rel="stylesheet" data-th-href="@{/css/login.css}">
</th:block>
</head>
<body>
	<main class="center-main">
		<div class="login-form">
			<div class="right">
				<form
					data-th-replace="~{fragments/layouts/layout-login :: login-form('Se connecter', '/login')}"></form>
			</div>
			<div class="left">
				<form method="get" action="/users/create">
					<ul class="flex-outer">
						<li>
							<button type="submit" id="createAccount" data-th-text="#{signUpButton.label}"></button>
						</li>
					</ul>
				</form>
			</div>
		</div>
	</main>
</body>
</html>
