<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	th:replace="~{fragments/layouts/layout :: layout(
	  				title=~{:: title},
					contenuPage=~{:: main},
					ressources=~{:: #ressources-css})}">
<head>
<title th:text="#{afficher-encheres.title}"></title>
<th:block id="ressources-css">
	<link rel="stylesheet" th:href="@{/css/general.css}">
	<link rel="stylesheet" th:href="@{/css/table.css}">
</th:block>
</head>
<body>
	<h1 th:text="#{bidsList.h1}"></h1>
	<main class="center-main">
		<form th:replace="~{fragments/layouts/encheres/layout-afficher-encheres :: enchere-detail('/bid')}">
		</form>
		<div class="liste-articles">
		<div th:replace="~{fragments/layouts/encheres/layout-afficher-article :: article-detail('/bid/detail')}"></div>
		</div>
	</main>
	<br>
</body>
</html>