<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  data-th-replace="~{fragments/layouts/layout :: layout(
				 	title=~{:: title}, 
				 	contenuPage=~{:: .center-main}, 
				 	ressources=~{:: #ressources-css})}">
<head>
<meta charset="UTF-8">
<title data-th-text="user"></title>
<data-th-block id="ressources-css">
	<link rel="stylesheet" data-th-href="@{/css/general.css}">
	<link rel="stylesheet" data-th-href="@{/css/form.css}">
	<link rel="stylesheet" data-th-href="@{/css/user.css}">
</data-th-block>
</head>
<body>
	<main class="center-main page-user page-user-detail">
		<div class="content" data-th-object="${user}">
			<h1 th:text="#{img.title.profil}">  </h1>
			<div class="mofication">
				<a data-th-href="@{'/users/modify?id=' + *{noUtilisateur}}" class="button" th:text="#{modify.label}"></a>
			</div>
			<div class="informations">
				<div class="left">
					<div class="line">
						<div class="line-name"> </div><span data-th-text="#{pseudo.label} + *{pseudo}"></span>
					</div>
					<div class="line">
						<div class="line-name"> </div> <span data-th-text="#{nom.label} + *{nom}"></span>
					</div>
					<div class="line">
						<div class="line-name"> </div><span data-th-text="#{prenom.label} + *{prenom}"></span>
					</div>
					<div class="line">
						<div class="line-name"> </div><span data-th-text="#{mail.label} + *{email}"></span>
					</div>
					<div class="line">
						<div class="line-name"> </div><span data-th-text="#{telephone.label} + *{telephone}"></span>
					</div>
					<div class="line">
						<div class="line-name"> </div><span data-th-text="#{street.label} + *{rue}"></span>
					</div>
					<div class="line">
						<div class="line-name"> </div><span data-th-text="#{postCode.label} + *{codePostal}"></span>
					</div>
					<div class="line">
						<div class="line-name"> </div><span data-th-text="#{city.label} + *{ville}"></span>
					</div>
				</div>
				<div class="right">
					<form method="post" action="\users\buycredits">
						<input type="hidden" name="id" data-th-value="*{noUtilisateur}">
						<label data-th-text="#{NbBuy.label}"></label>
						<input type="number" name="NumberPoint">
						<button class="button" type="submit">+</button>
					</form>
				</div>
			</div>
		</div>
	</main>
</body>
</html>
