<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	data-th-replace="~{fragments/layout::layout(contenuPage=~{:: .center-main}, title=~{:: title},ressources=~{:: link})}">
	<title>View Avis</title>
	<link rel="stylesheet" data-th-href="@{/css/demo-form.css}">
	<main class="center-main">
		<div class="center-avis">
		<h1>Avis du film</h1>
		<div data-th-if="${not #lists.isEmpty(film.getAvis())}">
			<ul class="flex-outer">
				<li data-th-if="${not #lists.isEmpty(film.getAvis())}">
            		<label for="inputAvis">Avis : </label>
    				<select multiple name="Avis" id="inputAvis" disabled>
    					<option data-th-each="avis : ${film.getAvis()}" data-th-value="${avis}" data-th-text="${avis}"
    					data-th-disabled="${isNotModify}" data-th-class="${isNotModify}? 'disabled-input' : ''">
    					</option>
					</select>
        		</li>
			</ul>
		</div>
		<form action="/films/avisNew" method="post" data-th-if="${#authorization.expression('isAuthenticated()')}">
			<h2>Ajouter un nouvel avis :</h2>
			<ul class="flex-outer">
			<li>
					<input type="hidden"
					name="titre" 
					data-th-value="${film.titre}"/>
				</li>
				<li>
					<label for="inputTitre">Titre du film : 
					</label> 
					<input type="text"
					name="titre" id="inputTitre" disabled
					data-th-value="${film.titre}"/>
				</li>
				<li>
    				<label for="inputAvis">Votre avis : </label>
    				<textarea name="nouvelAvis" id="inputAvis" required 
    				 ></textarea>
				</li>
				<li>
				<div class="etoileSelect">
				      <input type="radio" id="rating5" name="note" value="5">
    <label class="etoile" for="rating5">5 </label>
    
        <input type="radio" id="rating4" name="note" value="4">
    <label class="etoile" for="rating4">4 </label>
    
        <input type="radio" id="rating3" name="note" value="3">
    <label class="etoile" for="rating3">3 </label>

    <input type="radio" id="rating2" name="note" value="2">
    <label class="etoile" for="rating2">2 </label>

    <input type="radio" id="rating1" name="note" value="1">
    <label class="etoile" for="rating1">1 </label>

       <input type="radio" id="rating0" name="note" value="0"  checked>
    <label class="etoile0" for="rating0">0 </label> 

    <input type="hidden" name="note" id="note" value="">
    </div>
</li>
			</ul>
			<BR>
			 <button type="submit">
					  <span></span>
            <span></span>
            <span></span>
            <span></span>
            Modifier</button>
		</form>
		</div>
	</main>
</html>
