<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  th:replace="~{fragments/layouts/layout :: layout(
				 	title=~{:: title},
				 	contenuPage=~{:: .center-main},
				 	ressources=~{:: #ressources-css})}">
<head>
	<meta charset="UTF-8">
	<title th:text="user"></title>
	<th:block id="ressources-css">
		<link rel="stylesheet" th:href="@{/css/general.css}">
		<link rel="stylesheet" th:href="@{/css/form.css}">
		<link rel="stylesheet" th:href="@{/css/user.css}">
	</th:block>
</head>
<body>
<main class="center-main">
	<div class="center-avis">
		<h1 data-th-text="${Msg_FinVente}"></h1>
		<img src="votre_image.jpg" alt="Votre Image">
		<div class="informations">
			<div class="top">
				<div class="line">
					<span th:text="${Vente.getNomArticle()}"></span>
				</div>
				<div class="line">
					Description : <span th:text="${Vente.getDescription()}"></span>
				</div>
				<div class="line">
					Catégorie : <span th:text="${Vente.getCategorie().getLibelle()}"></span>
				</div>
				<div class="line">
					Meilleur offre : <span th:text="${MOffre} + ' pts par ' + ${MOffreUser}"></span>
				</div>
				<div class="line">
					Mise à prix : <span th:text="${Vente.getMiseAPrix()} + ' points'"></span>
				</div>
				<div class="line">
					Fin de l'enchère : <span th:text="${Vente.getDateFinEncheres()}"></span>
				</div>
				<div class="line">
					Retrait : <span th:text="${Vente.getRetrait().getRue()} + ' \n' + ${Vente.getRetrait().getCode_postal()}+ ' ' + ${Vente.getRetrait().getVille()}"></span>
				</div>
				<div class="line">
					Vendeur : <span th:text="${Vente.getVendeur().getPseudo()}"></span>
				</div>
				<div class="line">
					Tel : <span th:text="${Vente.getVendeur().getTelephone()}"></span>
				</div>
			</div>
				<button type="button">Back</button>
			<button type="button">Retrait Effectuer</button>
		</div>
	</div>
</main>
</body>
</html>
