<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  th:replace="~{fragments/layouts/layout :: layout(
				 	title=~{:: title}, 
				 	contenuPage=~{:: .center-main}, 
				 	ressources=~{:: #ressources-css})}">
<head>
<meta charset="UTF-8">
<title th:text="user"></title>
<th:block id="ressources-css">
	<link rel="stylesheet" th:href="@{/css/general.css}">
	<link rel="stylesheet" th:href="@{/css/form.css}">
	<link rel="stylesheet" th:href="@{/css/user.css}">
</th:block>
</head>
<body>
	<main class="center-main page-user">
		<div class="content">
			<h1> Mon profil DETAIL </h1>
			<div class="informations" th:object="${user}">
				<div class="top">
					<div class="line">
						Pseudo : <span th:text="*{pseudo}"></span>
					</div>
					<div class="line">
						Nom : <span th:text="*{nom}"></span>
					</div>
					<div class="line">
						Prénom : <span th:text="*{prenom}"></span>
					</div>
					<div class="line">
						Email : <span th:text="*{email}"></span>
					</div>
					<div class="line">
						Téléphone : <span th:text="*{telephone}"></span>
					</div>
					<div class="line">
						Rue : <span th:text="*{rue}"></span>
					</div>
					<div class="line">
						Code postal : <span th:text="*{codePostal}"></span>
					</div>
					<div class="line">
						Ville : <span th:text="*{ville}"></span>
					</div>

				</div>
				<div class="bottom">
					<a href="/users/modify" class="button">Modifier</a>
				</div>
			</div>
		</div>
	</main>
</body>
</html>
