<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      data-th-replace="~{fragments/layout::layout(contenuPage=~{:: .center-main}, title=~{:: title},ressources=~{:: link})}">
<title th:text="#{listEncherisseurs}"></title>
<link rel="stylesheet" data-th-href="@{/css/demo-form.css}">
<main class="center-main">
  <div class="center-avis">
    <h1 th:text="#{Encherisseurs.label}"></h1>
    <BR>
    <BR>
    <div class="top">
      <img data-th-if="${Vente.getPhoto() != null}" data-th-src="${Vente.getPhoto()}" alt="Votre Image">
      <div class="line">
        <span th:text="${Vente.getNomArticle()}"></span>
      </div>
      <div class="line">
         <span th:text="#{description.label} + ${Vente.getDescription()}"></span>
      </div>
      <div class="line">
        <span th:text="#{category.label} + ${Vente.getCategorie().getLibelle()}"></span>
      </div>
      <div class="line">
        <span th:text="#{MOffre.label} + ${MOffre} + ' pts par ' + ${MOffreUser}"></span>
      </div>
      <div class="line">
        <span th:text="#{startingBids.label} + ${Vente.getMiseAPrix()} + ' points'"></span>
      </div>
      <div class="line">
        <span th:text="#{endDate.label} + ${Vente.getDateFinEncheres()}"></span>
      </div>
    </div>
    <table>
      <thead>
      <tr>
        <th th:text="#{NameEncherisseur.label}"></th>
        <th th:text="#{purpose}">Proposition</th>
        <th th:text="#{EnchereDate.label}"></th>
      </tr>
      </thead>
      <tbody>
      <tr data-th-if="${Encheres != null}" data-th-each="item : ${Encheres}">
        <td data-th-text="${item.getUtilisateur().getPseudo()}"></td>
        <td data-th-text="${item.getMontant_enchere()} + ' points'"></td>
        <td data-th-text="${item.getDateEnchere()}"></td>
      </tr>
      </tbody>
    </table>
    <BR>
  </div>
</main>
</html>
