<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragments/layouts/layout :: layout(
				 	title=~{:: title},
				 	contenuPage=~{:: .center-main},
				 	ressources=~{:: #ressources-css})}">
<head>
    <meta charset="UTF-8">
    <title th:text="user"></title>
    <th:block id="ressources-css">
        <link rel="stylesheet" th:href="@{/css/general.css}">
        <link rel="stylesheet" th:href="@{/css/form.css}">
        <link rel="stylesheet" th:href="@{/css/user.css}">
    </th:block>
</head>
<body>
<main class="center-main page-user">
    <div class="content">
        <h1> Modification mot de passe </h1>
        <form th:action="@{${postValue}}" method="post">

            <!--<p class="cards" data-th-each="err : ${#fields.errors('global')}" data-th-text="#{${err}}"/>-->

            <div class="content-form">
                <div class="left colone">
                    <div class="input">
                        <label for="email">Email :</label>
                        <input type="email" id="email" name="email" />

                        <label for="mdp">Mot de passe :</label>
                        <input type="password" id="mdp" name="mdp" />
                    </div>
                </div>
                <div class="right colone">
                    <div class="input">
                        <label style="opacity:0;" for="input-vide">Inpute vide</label>
                        <input style="opacity:0;" type="text" id="input-vide"/>

                        <label for="mdpConfirmer">Confirmation :</label>
                        <input type="password" id="mdpConfirmer" name="mdpConfirmer" />
                    </div>
                </div>
            </div>
            <div class="input">
                <input type="submit" value="Modifier" />
                <input type="reset" value="Annuler" />
            </div>
        </form>
    </div>
</main>
</body>
</html>
