<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  th:replace="~{fragments/layouts/layout :: layout(contenuPage=~{:: .center-main},
													   title=~{:: title},
													   ressources=~{:: #ressources-css})}">
<head>
<title th:text="#{modifier-film.title} + ' ' + ${film.titre}"></title>
<th:block id="ressources-css">
	<link rel="stylesheet" th:href="@{/css/general.css}">
	<link rel="stylesheet" th:href="@{/css/form.css}">
	<link rel="stylesheet" th:href="@{/css/error.css}">
</th:block>
</head>
<body>
	<main class="center-main">
		<div
			th:replace="~{fragments/layouts/films/layout-modifier-encheres :: modifier-enchere(#{modifier-enchere.h1} + ' ' + ${film.titre}, '/films/modifier')}"></div>
	</main>
</body>
</html>
