<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  data-th-replace="~{fragments/layouts/layout :: layout(
				 	title=~{:: title}, 
				 	contenuPage=~{:: .center-main}, 
				 	ressources=~{:: #ressources-css})}">
<head>
<meta charset="UTF-8">
<title data-th-text="user"></title>
<data-th-block id="ressources-css">
	<link rel="stylesheet" data-th-href="@{/css/general.css}">
	<link rel="stylesheet" data-th-href="@{/css/form.css}">
	<link rel="stylesheet" data-th-href="@{/css/user.css}">
</data-th-block>
</head>
<body>
	<main class="center-main page-user">
		<div class="content">
			<h1> Mon profil DETAIL </h1>
			<div class="informations" data-th-object="${user}">
				<div class="top">
					<div class="line">
						Pseudo : <span data-th-text="*{pseudo}"></span>
					</div>
					<div class="line">
						Nom : <span data-th-text="*{nom}"></span>
					</div>
					<div class="line">
						Prénom : <span data-th-text="*{prenom}"></span>
					</div>
					<div class="line">
						Email : <span data-th-text="*{email}"></span>
					</div>
					<div class="line">
						Téléphone : <span data-th-text="*{telephone}"></span>
					</div>
					<div class="line">
						Rue : <span data-th-text="*{rue}"></span>
					</div>
					<div class="line">
						Code postal : <span data-th-text="*{codePostal}"></span>
					</div>
					<div class="line">
						Ville : <span data-th-text="*{ville}"></span>
					</div>
					<form method="post" action="\users\buycredits">
						<input type="hidden" name="id" data-th-value="*{noUtilisateur}">
						<label>Nombre de point à acheter</label>
						<input type="number" name="NumberPoint">
						<button  type="submit">Acheter des crédits</button>
					</form>
				</div>
				<div class="bottom">
					<a href="/users/modify" class="button">Modifier</a>
				</div>
			</div>
		</div>
	</main>
</body>
</html>
