<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	data-th-replace="~{fragments/layout::layout(contenuPage=~{:: .center-main}, title=~{:: title},ressources=~{:: link})}">
	<title data-th-text="${film.titre}"></title>
	<link rel="stylesheet" data-th-href="@{/css/demo-form.css}">
		<main class="center-main">
		<!-- Utilisation du fragment film -->
		<div data-th-replace="~{fragments/fragment-film-detail :: 
		frag-film-form('/films/detail', 'Détail du film', 'Modifier')}"></div>
	</main>
</html>
