<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	data-th-fragment="layout(title, contenuPage, ressources)">
<head>
<title data-th-replace="${title}">Enchères</title>
<link rel="icon" data-th-href="@{/images/encheres.png}">
<link rel="stylesheet" data-th-href="@{/css/form.css}">
<link rel="stylesheet" data-th-href="@{/css/general.css}">
	<data-th-block data-th-replace="${ressources} ?: ~{}"></data-th-block>
</head>
<body>
	<div data-th-replace="~{fragments/entete::entete}"></div>
	<main class="center-main" data-th-replace="${contenuPage} ?: ~{}">
		Contenu de la page</main>
	<div data-th-replace="~{fragments/footer::footer}"></div>
</body>
</html>